.with-line{
   display: block;
   font-size: 1.5rem;
   font-weight: bold;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 96vw;
}

.with-line:after {
   content: "";
   display: inline-block;
   border-top: 3px solid #000;
   vertical-align: middle;
   margin: 0 0.2rem;
   width: 95vw;
}
.with-line:before {
   content: "";
   display: inline-block;
   border-top: 3px solid #000;
   vertical-align: middle;
   margin: 0 0.2rem;
   min-width: 5vw;
}

.dropHeader {
   font-size: 3vw;
   padding: 0.15rem;
}

.content {
   display: flex;
   flex-wrap: wrap;
   margin: 0 1rem;
}

.wrapper {
   margin: 0.7rem 0;
}