.withLine{
   display: block;
   font-size: 1.5rem;
   font-weight: bold;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.withLine:after {
   content: "";
   display: inline-block;
   border-top: 3px solid #000;
   vertical-align: middle;
   margin: 0 0.2rem;
   width: 95vw;
}
.withLine:before {
   content: "";
   display: inline-block;
   border-top: 3px solid #000;
   vertical-align: middle;
   margin: 0 0.2rem;
   min-width: 5vw;
}

.dropHeader {
   font-size: 3vw;
   padding: 0.15rem;
}

.wrapper {
   margin: 1vw 0.35vw;
}