.superfood-enter {
   transform: scale(0);

 }
 .superfood-enter-active {
   transform: scale(1);
   transition: all 300ms ease-in;
 }
 .superfood-exit {
   transition: all 300ms ease-in;
   transform: scale(0);
 }
 .superfood-exit-active {
   transition: all 300ms ease-out;
 }

 .flex {
   display: flex;
   flex-wrap: wrap;
   margin: 0 1rem;
 }