.card {
   background-color: #ffffff10;
   border-radius: 4px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
   width: 30%;
   height: 10vw;
   flex-grow: 1;
   backdrop-filter: blur(12px);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0.4rem 0.3rem;
   font-size: 2rem;
}
