.card {
   background-color: #ffffff10;
   border-radius: 4px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
   height: 10vw;
   backdrop-filter: blur(12px);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0.4rem 0.3rem;
   font-size: 3vw;
}

img {
   width: 10vw;
}

.listItems {
   width: 25%;
}
